<h1>Portfolio</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
<div class="col mb-4">
  <div class="card">
    <img src="./images/port-1.jpg" class="card-img-top" alt="project-1">
    <div class="card-body">
      <h5 class="card-title">Project 1</h5>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card">
    <img src="./images/port-2.jpg" class="card-img-top" alt="project-2">
    <div class="card-body">
      <h5 class="card-title">Project 2</h5>
    </div>
  </div>
</div>
  
<div class="col mb-4">
  <div class="card">
    <img src="./images/port-3.jpg" class="card-img-top" alt="project-3">
    <div class="card-body">
      <h5 class="card-title">Project 3</h5>
    </div>
  </div>
</div>

<br>

<div class="col mb-4">
  <div class="card">
    <img src="./images/port-4.jpg" class="card-img-top" alt="project-4">
    <div class="card-body">
      <h5 class="card-title">Project 4</h5>
    </div>
  </div>
</div>

<div class="col mb-4">
  <div class="card">
    <img src="./images/port-5.jpg" class="card-img-top" alt="project-5">
    <div class="card-body">
      <h5 class="card-title">Project 5</h5>
    </div>
  </div>
</div>
  
<div class="col mb-4">
  <div class="card">
    <img src="./images/port-6.jpg" class="card-img-top" alt="project-6">
    <div class="card-body">
      <h5 class="card-title">Project 6</h5>
    </div>
  </div>
</div>