<h1>The Value of Money</h1>

<div class="paragraph-1">
	<figure>
		<img class="homepage-img" src="./images/img-1.jpg" alt="money">
		<figcaption>How to value the "money"?</figcaption>
	</figure>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices nibh ac nisl fringilla, at ullamcorper augue lobortis. Quisque ultricies justo sed turpis vehicula tempor. Suspendisse ac egestas arcu, eu vulputate nibh. Etiam id leo ullamcorper neque ullamcorper scelerisque vel vel eros.Sed elementum purus eget semper feugiat. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. </p>
</div>
<hr>
<h1>GMO food</h1>
<div class="paragraph-2">
	<figure>
		<img class="homepage-img" src="./images/img-2.jpg" alt="food">
		<figcaption>How does the GMO food affect our body?</figcaption>
	</figure>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices nibh ac nisl fringilla, at ullamcorper augue lobortis. Quisque ultricies justo sed turpis vehicula tempor. Suspendisse ac egestas arcu, eu vulputate nibh. Etiam id leo ullamcorper neque ullamcorper scelerisque vel vel eros.Sed elementum purus eget semper feugiat. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. </p>
</div>

<hr>

<h1>The View of World in 2100</h1>
<div class="paragraph-3">
	<figure>
		<img class="homepage-img" src="./images/img-3.jpg" alt="future">
		<figcaption>The future</figcaption>
	</figure>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices nibh ac nisl fringilla, at ullamcorper augue lobortis. Quisque ultricies justo sed turpis vehicula tempor. Suspendisse ac egestas arcu, eu vulputate nibh. Etiam id leo ullamcorper neque ullamcorper scelerisque vel vel eros.Sed elementum purus eget semper feugiat. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. Maecenas diam sem, placerat ac tempus quis, commodo vitae arcu. Etiam ullamcorper, velit at ultrices congue, erat augue dapibus metus, nec condimentum elit orci luctus erat. Praesent tellus turpis, dignissim vitae ornare id, tincidunt at enim. Vivamus in posuere arcu. </p>
</div>
